<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-friend-heading" jhiTranslate="theconnectApp.friend.home.createOrEditLabel">Create or edit a Friend</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theconnectApp.friend.dateIsFriend" for="field_dateIsFriend">Date Is Friend</label>
                    <div class="d-flex">
                        <input id="field_dateIsFriend" type="datetime-local" class="form-control" name="dateIsFriend" formControlName="dateIsFriend" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theconnectApp.friend.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="REQUEST">{{'theconnectApp.FriendType.REQUEST' | translate}}</option>
                        <option value="FRIEND">{{'theconnectApp.FriendType.FRIEND' | translate}}</option>
                        <option value="BEST_FRIEND">{{'theconnectApp.FriendType.BEST_FRIEND' | translate}}</option>
                        <option value="FOLLOW">{{'theconnectApp.FriendType.FOLLOW' | translate}}</option>
                        <option value="BLOCKED">{{'theconnectApp.FriendType.BLOCKED' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theconnectApp.friend.sender" for="field_sender">Sender</label>
                    <select class="form-control" id="field_sender" name="sender" formControlName="senderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountTCOption.id" *ngFor="let accountTCOption of senders; trackBy: trackAccountTCById">{{accountTCOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theconnectApp.friend.receiver" for="field_receiver">Receiver</label>
                    <select class="form-control" id="field_receiver" name="receiver" formControlName="receiverId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accountTCOption.id" *ngFor="let accountTCOption of receivers; trackBy: trackAccountTCById">{{accountTCOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
