<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accountTC">
            <h2><span jhiTranslate="theconnectApp.accountTC.detail.title">Account TC</span> {{accountTC.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theconnectApp.accountTC.email">Email</span></dt>
                <dd>
                    <span>{{accountTC.email}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.password">Password</span></dt>
                <dd>
                    <span>{{accountTC.password}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.status">Status</span></dt>
                <dd>
                    <span>{{accountTC.status}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.createdAt">Created At</span></dt>
                <dd>
                    <span>{{accountTC.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{accountTC.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{accountTC.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.accountTC.accountInfo">Account Info</span></dt>
                <dd>
                    <div *ngIf="accountTC.accountInfoId">
                        <a [routerLink]="['/account-info', accountTC.accountInfoId, 'view']">{{accountTC.accountInfoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/account-tc', accountTC.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
