<div>
    <h2 id="page-heading">
        <span jhiTranslate="theconnectApp.accountTC.home.title">Account TCS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-tc" [routerLink]="['/account-tc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="theconnectApp.accountTC.home.createLabel">
            Create a new Account TC
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accountTCS?.length === 0">
        <span jhiTranslate="theconnectApp.accountTC.home.notFound">No accountTCS found</span>
    </div>
    <div class="table-responsive" *ngIf="accountTCS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="theconnectApp.accountTC.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="password"><span jhiTranslate="theconnectApp.accountTC.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="theconnectApp.accountTC.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="theconnectApp.accountTC.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="theconnectApp.accountTC.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="theconnectApp.accountTC.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="accountInfoId"><span jhiTranslate="theconnectApp.accountTC.accountInfo">Account Info</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountTC of accountTCS ;trackBy: trackId">
                <td><a [routerLink]="['/account-tc', accountTC.id, 'view' ]">{{accountTC.id}}</a></td>
                <td>{{accountTC.email}}</td>
                <td>{{accountTC.password}}</td>
                <td>{{accountTC.status}}</td>
                <td>{{accountTC.createdAt | date:'medium'}}</td>
                <td>{{accountTC.updatedAt | date:'medium'}}</td>
                <td>{{accountTC.deletedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="accountTC.accountInfoId">
                        <a [routerLink]="['/account-info', accountTC.accountInfoId , 'view' ]" >{{accountTC.accountInfoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/account-tc', accountTC.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/account-tc', accountTC.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/account-tc', { outlets: { popup: accountTC.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="accountTCS?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
