
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Socialite Network HTML Template</title>
    <th:block th:include="fragment/layout :: HEAD"></th:block>


</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <th:block th:include="fragment/layout :: MAIN_SIDEBAR"></th:block>

        <!-- header -->
        <th:block th:include="fragment/layout :: HEADER"></th:block>


        <!-- contents -->
        <div class="main_content">

            <div class="main_content_inner">


                <div class="uk-child-width-1-2@m" uk-grid>
                    <div>

                        <!-- slideshow -->
                        <div class="uk-position-relative"
                            uk-slideshow="animation: fade;min-height: 400; max-height: 600">

                            <ul class=" uk-slideshow-items rounded">
                                <li>
                                    <img src="assets/images/product/1.jpg" alt="" uk-cover>
                                </li>
                                <li>
                                    <img src="assets/images/product/2.jpg" alt="" uk-cover>
                                </li>
                                <li>
                                    <img src="assets/images/product/10.jpg" alt="" uk-cover>
                                </li>
                            </ul>

                            <div class="uk-position-bottom-center uk-position-small">
                                <ul class="uk-thumbnav  uk-flex-center  ">
                                    <li uk-slideshow-item="0"><a href="#"><img src="assets/images/product/1.jpg"
                                                class="rounded" width="85" alt=""></a></li>
                                    <li uk-slideshow-item="1"><a href="#"><img src="assets/images/product/2.jpg"
                                                class="rounded" width="85" alt=""></a></li>
                                    <li uk-slideshow-item="2"><a href="#"><img src="assets/images/product/10.jpg"
                                                class="rounded" width="85" alt=""></a></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div>

                        <h2>
                            The Wire Realm
                            Status Audio CB-1 Closed-Back Studio Headphones Review - The Wire </h3>
                            <div class="text-warning mb-3">
                                <i class="icon-line-awesome-starr"></i><i class="icon-line-awesome-star"></i><i
                                    class="icon-line-awesome-star"></i>
                                <i class="icon-line-awesome-star"></i><i class="icon-line-awesome-star-half"></i>
                                <span class="uk-text-muted ml-2 uk-text-small ">4.3 Rating</span>
                            </div>
                            <h6 class="mb-2">Description:</h6>
                            <p>Lorem ipsum dolor consectetur sit amet, consectetur adipisici elit, sed eiusmod tempor
                                incidunt sed diam nonummy nibh
                                euismod
                            </p>
                            <div class="mb-4">
                                <h6 class="mb-2">Total price:</h6>
                                <span class="uk-h1 uk-text-bold mr-3">$139.99</span>
                                <span class=" "><del>$149.99</del></span>
                            </div>
                            <div class="mb-4">
                                <p class="mb-1">Quantity</p>
                                <form class="uk-grid-small" uk-grid>
                                    <div>
                                        <input type="text" class="uk-input uk-form-small" style="width: 70px"
                                            placeholder="12">
                                    </div>
                                    <div>
                                        <input type="submit" value="Add to cart" class="button primary">
                                    </div>
                                </form>
                            </div>

                    </div>
                </div>

                <div class="section-small">

                    <div class="uk-grid-large" uk-grid>
                        <div class="uk-width-2-3@m">

                            <!-- nav -->
                            <nav class="responsive-tab style-4 mb-5">
                                <ul uk-switcher="connect: #my-id ;animation: uk-animation-fade">
                                    <li class="uk-active"><a href="#">Description</a></li>
                                    <li><a href="#">Comments</a></li>
                                    <li><a href="#">Screenshot</a></li>
                                </ul>
                            </nav>

                            <ul class="uk-switcher" id="my-id">

                                <li>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod
                                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                        veniam,
                                        quis
                                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                        commodo
                                        consequat. Nam
                                        liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                                        quod
                                        mazim
                                        placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit,
                                        sed diam
                                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                        wisi
                                        enim ad
                                        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                        aliquip
                                        ex ea
                                        commodo consequat.
                                    </p>

                                    <p>
                                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                                        id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet,
                                        consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci
                                        tation ullamcorper tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                        lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>

                                    <h3> Assum consectetuer adipiscing nibt</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod
                                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                        veniam,
                                        quis
                                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                        commodo
                                        consequat. Nam
                                        liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                                        quod
                                        mazim
                                        placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                        elit,
                                        sed diam
                                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                        wisi
                                        enim ad
                                        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                        aliquip
                                        ex ea
                                        commodo consequat.
                                    </p>

                                </li>
                                <li>

                                    <div class="comments mt-4">
                                        <h3>Comments
                                            <span class="comments-amount">5210</span>
                                        </h3>

                                        <ul>
                                            <li>
                                                <div class="comments-avatar"><img
                                                        src="assets/images//avatars/avatar-1.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-by">Jonathan Madano <span>Student</span>
                                                        <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                            Reply</a>
                                                    </div>
                                                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                                        diam
                                                        nonummy nibh
                                                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                        Ut wisi
                                                        enim ad
                                                        minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                                        lobortis
                                                        nisl ut
                                                        aliquip ex ea commodo consequat. Nam liber tempor cum soluta
                                                        nobis
                                                        eleifend
                                                        option
                                                        congue </p>
                                                </div>

                                                <ul>
                                                    <li>
                                                        <div class="comments-avatar"><img
                                                                src="assets/images/avatars/avatar-2.jpg" alt="">
                                                        </div>
                                                        <div class="comment-content">
                                                            <div class="comment-by">Stella Johnson<span>Student</span>
                                                                <a href="#" class="reply"><i
                                                                        class="icon-line-awesome-undo"></i>
                                                                    Reply</a>
                                                            </div>
                                                            <p> Nam liber tempor cum soluta nobis eleifend option congue
                                                                ut
                                                                laoreet
                                                                dolore
                                                                magna aliquam erat volutpat nihil imperdiet doming id
                                                                quod mazim
                                                                placerat
                                                                facer possim assum. Lorem ipsum dolor sit amet</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="comments-avatar">
                                                            <img src="assets/images/avatars/avatar-3.jpg" alt=""></div>
                                                        <div class="comment-content">

                                                            <div class="comment-by">Adrian Mohani <span>Student</span>
                                                                <a href="#" class="reply"><i
                                                                        class="icon-line-awesome-undo"></i>
                                                                    Reply</a>
                                                            </div>
                                                            <p>tempor cum soluta nobis eleifend option congue ut laoreet
                                                                dolore
                                                                magna
                                                                aliquam erat volutpat.</p>
                                                        </div>

                                                    </li>
                                                </ul>

                                            </li>

                                            <li>
                                                <div class="comments-avatar"><img
                                                        src="assets/images/avatars/avatar-4.jpg" alt="">
                                                </div>
                                                <div class="comment-content">

                                                    <div class="comment-by">Alex Dolgove<span>Student</span>
                                                        <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                            Reply</a>
                                                    </div>
                                                    <p>Nam liber tempor cum soluta nobis eleifend option congue ut
                                                        laoreet
                                                        dolore magna
                                                        aliquam erat volutpat nihil imperdiet doming id quod mazim
                                                        placerat
                                                        facer possim
                                                        assum. Lorem ipsum dolor sit amet</p>
                                                </div>

                                            </li>

                                        </ul>

                                    </div>

                                    <hr>

                                    <div class="comments">
                                        <h3>Add Comment </h3>
                                        <ul>
                                            <li>
                                                <div class="comments-avatar"><img
                                                        src="../assets/images/avatars/avatar-2.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <form class="uk-grid-small uk-grid" uk-grid="">
                                                        <div class="uk-width-1-2@s uk-first-column">
                                                            <label class="uk-form-label">Name</label>
                                                            <input class="uk-input" type="text" placeholder="Name">
                                                        </div>
                                                        <div class="uk-width-1-2@s">
                                                            <label class="uk-form-label">Email</label>
                                                            <input class="uk-input" type="text" placeholder="Email">
                                                        </div>
                                                        <div class="uk-width-1-1@s uk-grid-margin uk-first-column">
                                                            <label class="uk-form-label">Comment</label>
                                                            <textarea class="uk-textarea"
                                                                placeholder="Enter Your Comments her..."
                                                                style=" height:160px"></textarea>
                                                        </div>
                                                        <div class="uk-grid-margin uk-first-column">
                                                            <input type="submit" value="submit" class="button primary">
                                                        </div>
                                                    </form>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </li>

                                <li>

                                    <div class="uk-child-width-1-2@s uk-text-center uk-grid-small" uk-grid
                                        uk-lightbox="animation: fade">
                                        <div>
                                            <a href="assets/images/product/1.jpg" data-caption="image Caption"><img
                                                    src="assets/images/product/1.jpg" alt="" class="rounded"></a>
                                        </div>
                                        <div>
                                            <a href="assets/images/product/2.jpg" data-caption="image Caption"><img
                                                    src="assets/images/product/2.jpg" alt="" class="rounded"></a>
                                        </div>
                                        <div>
                                            <a href="assets/images/product/10.jpg" data-caption="image Caption"><img
                                                    src="assets/images/product/10.jpg" alt="" class="rounded"></a>
                                        </div>
                                        <div>
                                            <a href="assets/images/product/1.jpg" data-caption="image Caption"><img
                                                    src="assets/images/product/1.jpg" alt="" class="rounded"></a>
                                        </div>
                                    </div>


                                </li>

                            </ul>

                        </div>

                        <!-- sidebar -->
                        <div class="uk-width-1-3@m">

                            <div uk-sticky="offset:90 ; media: @s ; bottom: true">

                                <h3 class="mb-lg-5"> Related </h3>
                                <div class="market-list">
                                    <div class="item-media" style="height: 160px">
                                        <img src="assets/images/product/2.jpg" alt="">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-price"> 23$ </div>
                                        <div class="item-title"> Wireless headphones </div>
                                        <div class="item-statistic">
                                            <span> <i class="uil-thumbs-up"></i>
                                                <span class="count">16</span> likes </span>
                                            <span> <i class="uil-comment-message"></i>
                                                <span class="count">202</span> views </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="market-list">
                                    <div class="item-media" style="height: 160px">
                                        <img src="assets/images/product/1.jpg" alt="">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-price"> 50$ </div>
                                        <div class="item-title"> Wireless headphones </div>
                                        <div class="item-statistic">
                                            <span> <i class="uil-thumbs-up"></i>
                                                <span class="count">16</span> likes </span>
                                            <span> <i class="uil-comment-message"></i>
                                                <span class="count">202</span> views </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>


                <hr>

                <h2> Related product</h2>

                <div class="uk-position-relative mt-5" uk-slider="finite: true">

                    <div class="uk-slider-container pb-3">

                        <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-grid-small uk-grid">

                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/1.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 20$ </div>
                                        <div class="item-title"> Brown headphones </div>
                                        <div class="item-statistic">
                                            <span> <span class="count">4</span> likes </span>
                                            <span> <span class="count">106</span> views </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/13.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 12$ </div>
                                        <div class="item-title"> Parfum Spray </div>
                                        <div class="item-statistic">
                                            <span> <span class="count">2</span> likes </span>
                                            <span> <span class="count">286</span> views </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/2.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 23$ </div>
                                        <div class="item-title"> Wireless headphones </div>
                                        <div class="item-statistic">
                                            <span> <span class="count">16</span> likes </span>
                                            <span> <span class="count">202</span> views </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/16.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 60$ </div>
                                        <div class="item-title"> Paper Coffee Cup </div>
                                        <div class="item-statistic">
                                            <span> <span class="count">12</span> likes </span>
                                            <span> <span class="count">160</span> views </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/17.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 30$ </div>
                                        <div class="item-title"> Sed diam nonummy</div>
                                        <div class="item-statistic">
                                            <span> <span class="count">9</span> likes </span>
                                            <span> <span class="count">136</span> views </span>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="market-list">
                                    <div class="item-media"> <img src="assets/images/product/15.jpg" alt=""></div>

                                    <div class="item-inner">
                                        <div class="item-price"> 10$ </div>
                                        <div class="item-title"> Herbal Shampoo </div>
                                        <div class="item-statistic">
                                            <span> <span class="count">2</span> likes </span>
                                            <span> <span class="count">286</span> views </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev" href="#"
                            uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next" href="#"
                            uk-slider-item="next"></a>

                    </div>

                </div>

            </div>


        </div>

    </div>


    <!-- For Night mode -->
    <th:block th:include="fragment/layout :: JAVASCRIPT"></th:block>


</body>

</html>