
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Socialite Network HTML Template</title>
    <th:block th:include="fragment/layout :: HEAD"></th:block>



</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <th:block th:include="fragment/layout :: MAIN_SIDEBAR"></th:block>

        <!-- header -->
        <th:block th:include="fragment/layout :: HEADER"></th:block>

        <!-- contents -->
        <div class="main_content">

            <div class="main_content_inner">


                <div uk-grid>
                    <div class="uk-width-3-4@m">

                        <div class="embed-video rounded">
                            <iframe src="https://www.youtube.com/embed/ae3ju4rEGgQ" frameborder="0"
                                uk-video="automute: true" allowfullscreen uk-responsive></iframe>
                        </div>

                        <div class="p-3">

                            <h2 class="mt-lg-5 "> GREAT RC JET MODEL SHOW WITH 2X SUKHOI SU-30 MK ELSTER JET TEAM FLIGHT
                                TO MUSIC </h2>

                            <p>299 views • <span> Sep 18, 2019 </span> </p>

                            <div class="uk-card-default rounded px-3 pb-md-3"
                                uk-toggle="cls: uk-flex uk-flex-between@m uk-flex-middle; mode: media; media: @m">
                                <div class="user-details-card">
                                    <div class="user-details-card-avatar">
                                        <img src="assets/images/avatars/avatar-2.jpg" alt="">
                                    </div>
                                    <div class="user-details-card-name">
                                        Stella Johnson <span> Developer <span> 1 year ago </span> </span>
                                    </div>
                                </div>
                                <div>
                                    <strong class="mx-3 uk-visible@s"> Share on </strong>

                                    <a href="#" class="button facebook transition-3d-hover">
                                        <i class="icon-brand-facebook-f"></i>
                                    </a>

                                    <a href="#" class="button  primary transition-3d-hover">
                                        <i class="icon-brand-twitter"></i>
                                    </a>

                                    <a href="#" class="button danger transition-3d-hover">
                                        <i class="icon-brand-google-plus-g"></i>
                                    </a>

                                </div>
                            </div>

                            <h3 class="mt-lg-6 mt-3"> Description</h3>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod
                                tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>

                            <p> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                amet.</p>


                            <hr>

                            <div class="comments mt-lg-6 mt-3">
                                <h3>Comments (5201)
                                    <span class="comments-amount">5210</span>
                                </h3>

                                <ul>
                                    <li>
                                        <div class="comments-avatar"><img src="assets/images//avatars/avatar-1.jpg"
                                                alt="">
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-by">Jonathan Madano <span>Student</span>
                                                <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                    Reply</a>
                                            </div>
                                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy nibh
                                                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                                                enim ad
                                                minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                                                nisl ut
                                                aliquip ex ea commodo consequat. Nam liber tempor cum soluta nobis
                                                eleifend
                                                option
                                                congue </p>
                                        </div>

                                        <ul>
                                            <li>
                                                <div class="comments-avatar"><img
                                                        src="assets/images/avatars/avatar-2.jpg" alt="">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-by">Stella Johnson<span>Student</span>
                                                        <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                            Reply</a>
                                                    </div>
                                                    <p> Nam liber tempor cum soluta nobis eleifend option congue ut
                                                        laoreet
                                                        dolore
                                                        magna aliquam erat volutpat nihil imperdiet doming id quod mazim
                                                        placerat
                                                        facer possim assum. Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comments-avatar">
                                                    <img src="assets/images/avatars/avatar-3.jpg" alt=""></div>
                                                <div class="comment-content">

                                                    <div class="comment-by">Adrian Mohani <span>Student</span>
                                                        <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                            Reply</a>
                                                    </div>
                                                    <p>tempor cum soluta nobis eleifend option congue ut laoreet dolore
                                                        magna
                                                        aliquam erat volutpat.</p>
                                                </div>

                                            </li>
                                        </ul>

                                    </li>

                                    <li>
                                        <div class="comments-avatar"><img src="assets/images/avatars/avatar-4.jpg"
                                                alt="">
                                        </div>
                                        <div class="comment-content">

                                            <div class="comment-by">Alex Dolgove<span>Student</span>
                                                <a href="#" class="reply"><i class="icon-line-awesome-undo"></i>
                                                    Reply</a>
                                            </div>
                                            <p>Nam liber tempor cum soluta nobis eleifend option congue ut laoreet
                                                dolore magna
                                                aliquam erat volutpat nihil imperdiet doming id quod mazim placerat
                                                facer possim
                                                assum. Lorem ipsum dolor sit amet</p>
                                        </div>

                                    </li>

                                </ul>

                            </div>

                            <hr>
                            <div class="comments">
                                <h3>Add Comment </h3>
                                <ul>
                                    <li>
                                        <div class="comments-avatar"><img src="../assets/images/avatars/avatar-2.jpg"
                                                alt="">
                                        </div>
                                        <div class="comment-content">
                                            <form class="uk-grid-small uk-grid" uk-grid="">
                                                <div class="uk-width-1-2@s uk-first-column">
                                                    <label class="uk-form-label">Name</label>
                                                    <input class="uk-input" type="text" placeholder="Name">
                                                </div>
                                                <div class="uk-width-1-2@s">
                                                    <label class="uk-form-label">Email</label>
                                                    <input class="uk-input" type="text" placeholder="Email">
                                                </div>
                                                <div class="uk-width-1-1@s uk-grid-margin uk-first-column">
                                                    <label class="uk-form-label">Comment</label>
                                                    <textarea class="uk-textarea"
                                                        placeholder="Enter Your Comments her..."
                                                        style=" height:160px"></textarea>
                                                </div>
                                                <div class="uk-grid-margin uk-first-column">
                                                    <input type="submit" value="submit" class="button primary">
                                                </div>
                                            </form>

                                        </div>
                                    </li>
                                </ul>
                            </div>




                        </div>




                    </div>

                    <!-- sidebar -->
                    <div class="uk-width-expand@m">

                        <div uk-sticky="media :@m ; bottom: true ; offset:86">

                            <h4> Related Videos </h4>

                            <a href="single-video.html" class="video-post video-post-small">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <img src="assets/images/video/img-5.png" alt="">
                                </div>

                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> Amazing Little Girl's VOICE LESSON w/Vocal Coach </h3>
                                </div>
                            </a>

                            <a href="single-video.html" class="video-post video-post-small">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <img src="assets/images/video/img-2.png" alt="">
                                </div>

                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> GREAT RC JET MODEL SHOW WITH 2X SUKHOI SU-30 </h3>
                                </div>
                            </a>

                            <a href="single-video.html" class="video-post video-post-small">
                                <!-- Blog Post Thumbnail -->
                                <div class="video-post-thumbnail">
                                    <span class="video-post-time">23:00</span>
                                    <span class="play-btn-trigger"></span>
                                    <img src="assets/images/video/img-3.png" alt="">
                                </div>

                                <!-- Blog Post Content -->
                                <div class="video-post-content">
                                    <h3> Exploring an Abandoned Water Park in China </h3>
                                </div>
                            </a>


                        </div>


                    </div>

                </div>


            </div>
        </div>

    </div>


    <!-- For Night mode -->
    <th:block th:include="fragment/layout :: JAVASCRIPT"></th:block>

</body>

</html>