
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Socialite Network HTML Template</title>
    <th:block th:include="fragment/layout :: HEAD"></th:block>



</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <th:block th:include="fragment/layout :: MAIN_SIDEBAR"></th:block>

        <!-- header -->
        <th:block th:include="fragment/layout :: HEADER"></th:block>

        <!-- contents -->
        <div class="main_content">

            <div class="main_content_inner">


                <h1> Videos </h1>
                <div class="uk-flex uk-flex-between">
                    <nav class="responsive-tab style-1 mb-5">
                        <ul>
                            <li class="uk-active"><a href="#"> Suggestions </a></li>
                            <li><a href="#"> Newest </a></li>
                            <li><a href="#"> My videos </a></li>
                        </ul>
                    </nav>
                    <a href="#" class="button primary small circle"> <i class="uil-plus"> </i> Create new </a>

                </div>

                <!-- Videos sliders 1 -->

                <div class="uk-position-relative mb-4" uk-slider="finite: true">

                    <div class="uk-slider-container pb-3 video-grid-slider ">

                        <ul class="uk-slider-items uk-child-width-1-4@m uk-child-width-1-3@s uk-grid">


                            <li>
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="assets/images/video/img-1.png" alt="">
                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Amazing House Construction From Foundation To Last Detail </h3>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="assets/images/video/img-2.png" alt="">
                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> GREAT RC JET MODEL SHOW WITH 2X SUKHOI SU-30 </h3>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="assets/images/video/img-3.png" alt="">
                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Exploring an Abandoned Water Park in China </h3>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="assets/images/video/img-5.png" alt="">
                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Amazing Little Girl's VOICE LESSON w/Vocal Coach </h3>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="single-video.html" class="video-post">
                                    <!-- Blog Post Thumbnail -->
                                    <div class="video-post-thumbnail">
                                        <span class="video-post-time">23:00</span>
                                        <span class="play-btn-trigger"></span>
                                        <img src="assets/images/video/img-4.png" alt="">
                                    </div>

                                    <!-- Blog Post Content -->
                                    <div class="video-post-content">
                                        <h3> Cheesecake Eggless & Without oven｜HidaMari Cooking </h3>
                                    </div>
                                </a>
                            </li>

                        </ul>

                    </div>


                    <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev" href="#"
                        uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next" href="#"
                        uk-slider-item="next"></a>
                </div>


                <div class="section-header pb-0">
                    <div class="section-header-left">
                        <h2> Categories </h2>
                        <p> Find a Video <span class="uk-visible@s"> by browsing top Categories </span></p>
                    </div>
                    <div class="section-header-right">
                        <a href="#" class="see-all"> See all</a>
                    </div>
                </div>

                <div class="uk-position-relative" uk-slider="finite: true">

                    <div class="uk-slider-container py-3">

                        <ul
                            class="uk-slider-items uk-child-width-1-6@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid-small uk-grid">

                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img6.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Animals </h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img1.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Sports </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li>
                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img3.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Workout </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img2.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Motivation </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img4.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Music </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img5.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Food </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li>

                                <a href="#">
                                    <div class="group-catagroy-card animate-this"
                                        data-src="assets/images/category/img1.jpg" uk-img>
                                        <div class="group-catagroy-card-content">
                                            <h4> Sports </h4>
                                        </div>
                                    </div>
                                </a>

                            </li>
                        </ul>

                        <a class="uk-position-center-left-out uk-position-small uk-hidden-hover slidenav-prev" href="#"
                            uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small uk-hidden-hover slidenav-next" href="#"
                            uk-slider-item="next"></a>

                    </div>
                </div>



                <!-- Videos sliders 2 -->

                <h3 class="mt-lg-5 mb-2"> Browse Videos </h3>

                <nav class="responsive-tab mb-4">
                    <ul>
                        <li class="uk-active"><a href="#"> Suggestions </a></li>
                        <li><a href="#"> Education </a></li>
                        <li><a href="#"> Technology </a></li>
                        <li><a href="#"> Comedy </a></li>
                        <li><a href="#"> Cooking </a></li>
                        <li><a href="#"> Sports </a></li>
                        <li><a href="#"> Music </a></li>
                        <li><a href="#"> Illustrations </a></li>
                        <li><a href="#"> Traveling </a></li>
                        <li><a href="#"> Listing </a></li>
                    </ul>
                </nav>

                <div class="uk-child-width-1-4@m uk-child-width-1-3@s uk-grid-small" uk-grid>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-6.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> TIMELAPSE OF THE FUTURE A Journey to the End of Time </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-1.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> Amazing House Construction From Foundation To Last Detail </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-4.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> Cheesecake Eggless & Without oven｜HidaMari Cooking </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-5.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> Amazing Little Girl's VOICE LESSON w/Vocal Coach </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-2.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> GREAT RC JET MODEL SHOW WITH 2X SUKHOI SU-30 </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-3.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> Exploring an Abandoned Water Park in China </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-1.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> Amazing House Construction From Foundation To Last Detail </h3>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="single-video.html" class="video-post">
                            <!-- Blog Post Thumbnail -->
                            <div class="video-post-thumbnail">
                                <span class="video-post-time">23:00</span>
                                <span class="play-btn-trigger"></span>
                                <img src="assets/images/video/img-6.png" alt="">
                            </div>

                            <!-- Blog Post Content -->
                            <div class="video-post-content">
                                <h3> TIMELAPSE OF THE FUTURE A Journey to the End of Time </h3>
                            </div>
                        </a>
                    </div>

                </div>


            </div>
        </div>


    </div>


    <!-- For Night mode -->
    <th:block th:include="fragment/layout :: JAVASCRIPT"></th:block>


</body>

</html>