<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="district">
            <h2><span jhiTranslate="theconnectApp.district.detail.title">District</span> {{district.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theconnectApp.district.name" [ngbTooltip]="'theconnectApp.district.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{district.name}}</span>
                </dd>
                <dt><span jhiTranslate="theconnectApp.district.city">City</span></dt>
                <dd>
                    <div *ngIf="district.cityId">
                        <a [routerLink]="['/city', district.cityId, 'view']">{{district.cityId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/district', district.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
